.env

/client/node_modules
/client/.pnp
/client/.pnp.*
/client/.yarn/*
/client/!.yarn/patches
/client/!.yarn/plugins
/client/!.yarn/releases
/client/!.yarn/versions
/client/coverage
/client/.next/
/client/out/
/client/build
/client/.DS_Store
/client/*.pem
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*
/client/.env
/client/*.tsbuildinfo
/client/next-env.d.ts

/browser-server/__pycache__
/browser-server/.env


/api-server/*.exe
/api-server/*.exe~
/api-server/*.dll
/api-server/*.so
/api-server/*.dylib
/api-server/*.test
/api-server/*.out
/api-server/vendor/
/api-server/go.work
/api-server/tmp/
/api-server/.vscode
/api-server/.idea
/api-server/.env
/api-server/main
/api-server/*templ.go
/api-server/.DS_Store
/api-server/coverage.*
